<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("blocks/Head.ejs"); %>    
</head>
<body>
    <header>
        <div class="container">
            <div class="group">
                <h2>
                <% if (group) { %>
                    <%= group %>
                <% } %>
                </h2>
                <p>
                    <%= new Date().toLocaleString();  %>
                </p>
            </div>
        </div>
    </header>
    <section id="menu">
        <div class="container">
            <h3>Доброе время суток,
                <% if (name) { %>
                    <%=name%>
                <% } %>
            </h3>
             <nav>
                 <ul>
                    <li><a href="/show" class="btn"><div class="eye"></div><p>Посмотреть</p></a></li>
                     <% if (status === "Administrator") { %>
                            <li><a href="/select" class="btn"><div class="pencil"></div><p>Заполнить</p>    </a></li>
                            <li><a href="/update" class="btn"><div class="repencil"></div><p>Редактировать</p></a></li>
                            <li><a href="/export" class="btn"><div class="export"></div><p>Экспортировать</p></a></li>
                     <%} else if(status === "Moderator") { %>
                        <li><a href="/select" class="btn"><div class="pencil"></div><p>Заполнить</p></a></li>
                        <li><a href="/update" class="btn"><div class="repencil"></div><p>Редактировать</p></a></li>
                     <% } %>
                     <li><a href="/logOut" class="btn">Выйти</a></li>       
                 </ul>
             </nav>
         </div>
    </section>    
</body>
</html>