<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetroAttendance</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
</head>
<body>
    <header>
        <div class="container">
            <div class="group">
                <h2>
                <% if (group) { %>
                    <%= group %>
                <% } %>
                </h2>
                <p>
                    <%- new Date(Date.now()).toUTCString(); %>
                </p>
            </div>
        </div>
    </header>
    <section id="menu">
        <div class="container">
            <h3>Доброе время суток,
                <% if (name) { %>
                    <%= name %>
                <% } %>
            
            </h3>
             <nav>
                 <ul>
                     <li><a href="/select" class="btn"><div class="pencil"></div>Заполнить</a>                </li>
                     <li><a href="/update" class="btn"><div class="repencil"></div>Редактировать</a></li>
                     <li><a href="#" class="btn"><div class="eye"></div>Посмотреть</a></li>
                     <li><a href="index.html" class="btn">Выйти</a></li>
                 </ul>
             </nav>
         </div>
    </section>    
</body>
</html>