<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("blocks/Head.ejs") %>    
</head>
<body>
    <header>
        <div class="container">
            <div class="group">
                <a href="/" class="back"></a>
                <h2>39-03</h2>
                <p>Четверг 16.09.2021</p>
            </div>
        </div>
    </header>
    <section id="select">
        <div class="container">
            <h3>Выберите количество пар на сегодня:</h3>
             <nav>
                 <ul>
                     <li class="box">1</li>
                     <li class="box">2</li>
                     <li class="box">3</li>
                     <li class="box">4</li>
                     <li class="box">5</li>
                     <li class="box">6</li>
                 </ul>
             </nav>
         </div>
    </section>    
    <script>
        var box = document.getElementsByClassName("box");
        for(let key in box){
            if(box[key].innerHTML != undefined){
                // console.log(box[key].innerHTML); 
                box[key].addEventListener('click', event => {
                    console.log(box[key].innerHTML);
                    let par = +(box[key].innerHTML)
                    window.location.replace(`http://localhost:4000/send?par=${par}`);
                })
            }
        }
    </script>
</body>
</html>