<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("blocks/Head.ejs") %>    
</head>
<body>
    <header>
        <div class="container">
            <div class="group">
                <a href="/" class="back"></a>
                <h2><%= group %> </h2>
                <p><%= new Date().toLocaleString() %></p>
            </div>
        </div>
    </header>
    <% if(!isDate){    %>
    <section id="select">
        <div class="container">
            <h3>Выберите количество пар на сегодня:</h3>
             <nav>
                 <ul>
                     <li class="box">1</li>
                     <li class="box">2</li>
                     <li class="box">3</li>
                     <li class="box">4</li>
                     <li class="box">5</li>
                 </ul>
             </nav>
         </div>
    </section>    
    <script>
        var box = document.getElementsByClassName("box");
        for(let key in box){
            if(box[key].innerHTML != undefined){
                box[key].addEventListener('click', event => {
                    console.log(box[key].innerHTML);
                    let par = +(box[key].innerHTML)
                    window.location.replace("http://" + document.location.host + '/send?par=' + par);
                })
            }
        }
    </script>
    <% } else {  %>
        <section id="update">
            <div class="container">
                <h3>На сегодня посещаемость уже заполнена </h3>
                <a href="/" class="btn">Вернуться</a>
            </div>
        </section>
    <% } %>
</body>
</html>