<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select - Petro</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
</head>
<body>
    <header>
        <div class="container">
            
            <div class="group">
                <a href="#" class="back"></a>
                <h2>39-03</h2>
                <p>Четверг 16.09.2021</p>
            </div>
        </div>
    </header>
    <section id="update">
        <div class="container">
            <h3>Выберите количество пар на сегодня:</h3>
             <nav>
                 <ul class="list">
                     <li><%=allUsers['dateValues'].login %></li>
                     <li>Авдеева</li>
                     <li>Азаренко</li>
                     <li>Авдеева</li>
                     <li>Азаренко</li>
                     <li>Авдеева</li>
                     <li>Азаренко</li>
                 </ul>
                 <div class="otm">
                    <ul class="checkbox-list">
                        <li></li>
                        <li>Н</li>
                        <li></li>
                     </ul>
                     <ul class="checkbox-list">
                        <li></li>
                        <li></li>
                        <li>У</li>
                     </ul>
                     <ul class="checkbox-list">
                        <li>У</li>
                        <li></li>
                        <li></li>
                     </ul>
                     <ul class="checkbox-list"> 
                        <li></li>
                        <li>Н</li>
                        <li></li>
                     </ul>
                     <ul class="checkbox-list">
                        <li></li>
                        <li></li>
                        <li>У</li>
                     </ul>
                     <ul class="checkbox-list">
                        <li>У</li>
                        <li></li>
                        <li></li>
                     </ul>
                    </div>
                    
             </nav>
             
         <button class="button" type="submit">Сохранить</button>
         </div>
    </section>    
</body>
</html>